@font-face {
  font-family: "Pear2Pear";
  src: url('../fonts/pear2pear.woff?v=1.0.0');
  font-weight: normal;
  font-style: normal;
}

.pear2pear-loading-container {
  width: 100%;
  position: relative;
}

.pear2pear-loading-pear {
  display: inline-block;
  font-family: "Pear2Pear";
  text-rendering: auto;
  -webkit-font-smoothing: antialiased; 
  -moz-osx-font-smoothing: grayscale;
  line-height: 1;
}
.pear2pear-loading-pear:before {
  content: "\f001";
}

.pear2pear-loading-pear-left {
}

.pear2pear-loading-pear-right {
}

.loading-mask {
  display: inline;
  z-index: 0;
}

.pear2pear-loading-triangle {
  position: absolute;
  width: 0;
  height: 0;
  border-left-color: transparent;
  border-left-style: solid;
  border-left-width: 10px;
  border-right-color: transparent;
  border-right-style: solid;
  border-right-width: 10px;
  border-bottom-style: solid;
  border-bottom-width: 10px;
}

.pear2pear-loading-static-triangle {
  z-index: -1;
}

.pear2pear-loading-moving-triangle {
  z-index: 10;

  -webkit-transition: top 5s linear, left 5s linear, -webkit-transform 5s linear;
  transition: top 5s linear, left 5s linear, -webkit-transform 5s linear, transform 5s linear;
}
